.error-header {
  margin-bottom: 15px;
  border-radius: 10px;
  background: crimson;
  color: #fff;
  padding: 10px;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  display: flex;
}
