.giphy-page {

  &__search {
    width: 100%;
    padding: 12px 12px 12px 42px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    background-image: url(../../../assets/search-icon.svg);
    background-repeat: no-repeat;
    background-position: left 10px center;
  }
  &__loading {
    text-align: center;
  }
  &__item {
    img {
      width: 100%
    }
  }
  &__paginator {
    background: #ededed;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}
